html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

#ping-pong-table{
    border: 2px solid black;
    width: 700px;
    height: 400px;
    position: relative;
}

#paddle{
    background-color: blue;
    width: 10px;
    height: 75px;
    margin-left: 2px;
    position: absolute;
}

#ball{
    position: absolute;
    margin-left: 1px;
    background-color: red;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}








