body{
    box-sizing: border-box;
    background-color: blueviolet;
}

.container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    color: aqua;
    font-size: 20px;
}

.divi{
    margin: 0px auto;
    display: flex;
    width: 200px;
}

button{
    height: 40px;
    width: 60px;
    font-size: 30px;
}

#text{
    font-size: 20px;
}

